*{
 text-decoration: none;
 list-style: none;
 margin: 0%;
 padding: 0%;
 font-weight: bold;
 font-size: 20px;
}

a{
 text-decoration: none;
 color: rgb(187, 186, 186);
 border: 1px solid black;
 border-radius: 10px;
 background-color: #068a41;
 margin: 2px;
}

p{
 color: rgb(197, 67, 67);
 margin: 2px;
}

body{
 background-color: #faedcd;
}

li{
 border: 3px solid black;
 padding: 20px;
 margin: 15px;
}

h1{
 text-align: center;
 font-size: 30px;
 color:#068a23;
}

button{
 margin: 2px;
 width: 100px;
 border-radius: 10px;
 color: white;
 background-color: #068a18;
}


